select{
	max-width: 100%;
	height: 40px
}

/*模态窗口*/
.page-view{
	display: none;
 	position: fixed;
 	left: 0px;
 	right: 0px;
 	bottom: 0px;
 	top: 0px;   
 	height: 100%;
 	z-index: 9;
 	overflow: hidden;
 	background: rgba(0, 0, 0,0.7);
 	animation:fadein 100ms linear;
 	
}

.page-view .page-warp{
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 0rem;
	transform: translateY(-100px);
	-webkit-transform: translateY(-100px);
	background: #fff;
	padding: 15px 10px;
	font-size: 12px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	border-radius: 5px;
	max-height: 40%;
}
.page-view .close{
	position: absolute;
	left: 50%;
	bottom: 30px;
	margin-left: -20px;
	display: block;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius:20px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	cursor: pointer;
}
.page-view .close:before{
	display: block;
	position: absolute;
	left: 50%;
	top: 5px;
	bottom: 5px;
	content: "";
	width: 1px;
	background: #ff0000;
}
.page-view .close:after{
	display: block;
	position: absolute;
	top:  50%;
	left: 5px;
	right: 5px;
	content: "";
	height: 1px;
	background: #ff0000;
}

/*select-modai*/
.select-modai .page-warp{
	min-height: 200px;
	
}
.select-modai .page-warp .item{
	
	width: 100%;
	border-bottom: 0.5px solid #ccc;
	position: relative;
	vertical-align: top;
}
.select-modai .page-warp .item label{
	display: block;
	position: relative;
	padding-left: 25px;
	font-size: 13px;
	line-height: 20px;
	vertical-align: top;
	padding: 12px 0px 12px 25px;
	line-height: 100%;
}
.select-modai .page-warp .item input{
	position: absolute;
	top: 50%;
	left: 0;
	margin: -2px 0 0 0;
	transform: translateY(-50%);
}
.item-middle{
	position: absolute;
	top: 50%;
	left: 10px;
	right: 10px;
	transform: translateY(-50%);
}
.select-click{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
}
@media screen and (max-width: 320px){
	.page-view{
		cursor: pointer;
	}
}
@keyframes fadein{
	0%{
		opacity: 0;
		transform: scale(1.1);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}

